.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.LoadingContainer h1 {
  color: cyan;
}