.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.Modal__container {
  position: relative;
  bottom: 0;
  padding: 40px;
  width: 320px;
  border-radius: 30px;
  background-color: #FF7B4F;
  border: 1px solid black;
  box-shadow: 9px 9px 1px 0px black;
  text-align: center;
}

.DetailModal-text {
  margin: 0;
  margin-bottom: 10px;
}

.DetailModal-img {
  width: 220px;
  height: 320px;
  object-fit: cover;
}

.DetailModal-btnCancel, .DetailModal-btnGo {
  padding: 5px 8px;
  margin: 10px 5px 0;
  background-color: white;
  border-color: #00000047;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
  transition: all .4s;
}

.DetailModal-btnCancel:hover, .DetailModal-btnGo:hover {
  background-color: transparent;
  border-color: black;
}

@media screen and (max-width: 400px) {
  .Modal__container {
    width: 280px;
    height: 400px;
    padding: 20px;
  }
  
  .DetailModal {
    height: 90%;
  }

  .DetailModal-text {
    font-size: 20px;
  }

  .DetailModal-img {
    height: 80%;
  }
}